.Status {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #D9D9D9;
    aspect-ratio: 1;
    min-width: 20vw;
    padding: 8px;
}
.Status h1 {
    margin: 0px;
}
.caixa-selecao {
    font-weight: bold;
}
